# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/

# Environment variables
backend/.env
frontend/.env

# FAISS databases (optional if large)
backend/rag/vectorstores/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db